.add-form {
	height: 74px;
	background: #2c3e50;
	padding: 15px;
	overflow: hidden;
}
.add-form input {
	height: 44px;
	width: calc(100% - 95px);
	float: left;
	border: none;
	border-radius: 3px;
	text-indent: 15px;
	padding-right: 15px;
}
.add-form button {
	height: 44px;
	width: 80px;
	float: right;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #333;
	font-size: 16px;
	cursor: pointer;
}