.todo-item {
	padding: 15px;
	background: #fff;
	box-shadow: 0 20px 30px 0 rgba(1,1,1,0.07);
	overflow: hidden;
	margin-bottom: 15px;
}
.todo-item:last-child {
	margin-bottom: 0;
}
.todo-text {
	float: left;
	width: calc(100% - 118px);
}
.todo-text h3 {
	color: #333;
	margin-bottom: 12px;
}
.todo-text h3.task-done {
	color: 	#7f8c8d;
	text-decoration: line-through;
}
.todo-text p {
	font-size: 14px;
	color: #ccc;
}
.todo-item button {
	cursor: pointer;
	float: right;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: none;
	font-size: 18px;
	border: 3px solid #2c3e50;
	background: #fff;
	color: #333;
}
.todo-item button:hover {
	border: none;
	box-shadow: 0 20px 30px 0 rgba(1,1,1,0.07);
}
.todo-item button:focus {
	outline: none;
}
.complete-task {
	margin-right: 15px;
}