html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #FF0000;
}

.todo-list {
	max-width: 80%;
	margin: 15px auto;
	height: calc(100vh - 178px);
	overflow-y: scroll;
}