@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&subset=cyrillic');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Anonymous Pro', monospace;
}
body {
	background: #eee;
}
.no-tasks {
	text-align: center;
	line-height: calc(100vh - 148px);
	color: #7f8c8d;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}